body {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background-color: #e3eff7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}

footer {
  min-height: 100px;
  font-size: 10px;
  color: #222222;
  margin-top: 2em;
}

/* input is inside this container */
.dataTables_filter {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

/* Push paginator down */
#wordlist_length {
  margin-top: 15px;
  font-size: 16px;
  padding: 6px 10px;
  color: #333;
}

#wordlist_length select {
  text-align: right;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: transparent;
  outline: none;
}

#wordlist_length select:focus {
  border-color: #8cb3d9;
}

#wordlist_length select:hover {
  border-color: #8cb3d9;
  cursor: pointer;
}

input {
  background-image: url('../img/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 90%; /* Small search bar */
  font-size: 16px;
  padding: 10px 18px 10px 38px;
  border: 2px solid transparent;
  margin-bottom: 8px; /* Add some space below the input */
  border-radius: 8px;
}

.dataTables_paginate .paginate_button {
  border-radius: 16px !important;
  padding: 4px 10px !important;
  margin: 2px !important;
  color: #333 !important;
}

.dataTables_paginate .paginate_button.current {
  background: #f7f9fc !important;
  border: none;
}

input:focus {
  outline: none;
  border: 2px solid #8cb3d9;
}

#wordlist {
  width: 100%;
  font-size: 18px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

#wordlist th,
#wordlist td {
  text-align: left;
  padding: 12px;
}

#wordlist tr.comment td {
  background-color: #eaf3fa;
  border-left: 5px solid #6fa4cd;
  border-top: none;
  box-shadow: 0 0 0 3px rgba(140, 179, 217, 0.25);
  margin: 6px 0;
}

#wordlist tr.header {
  background-color: #506d86;
  color: #ffffff;
  font-weight: 720;
  font-size: 18px;
  padding: 14px 12px;
  letter-spacing: 0.6px;
}
#wordlist td,
#wordlist th {
  border: none;
  padding: 12px 14px;
}

table.dataTable {
  border: none !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-position: center left !important;
  padding-left: 25px !important;
  padding-right: 0px !important;
}

table.dataTable tr.odd {
  background-color: #f7f9fc;
}

table.dataTable tr.even {
  background-color: #ffffff;
}
